* {
  font-family: Quicksand;
  /* font-size: 16px;
  color: #333; */
}
body {
  background-color: #454545;
  color: #cdc7c4;

}
#myp{
  
  margin-top: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  margin-bottom: auto;
}

#f{
  border: 2px solid red;
  
}
.ll{
  font-size:20px;
  position: absolute;
  margin-left: 36%;
  bottom: 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* updated */
  padding: 20px;
  background-color: #454545;
}

/*  */

.div-1 {
  border: 2px solid #fc6d6d; 
  width: 640px;
  height: 480px;
  margin: 3rem 3rem 3rem 3rem;
} 

.div-2 {
  border: 2px solid #fc6d6d;
  width: 640px;
  height: 480px;
  margin: 3rem 3rem 3rem 3rem;
  background-color: #ffe6c6;
}

.camera-0 { 
  margin-top: 3.5rem; 
}

/*  */

#hp {
  margin-top: 430px;
  margin-left: 1780px;
}

#hb {
  font-size: 20px;
  position: relative;
}

#hn {
  justify-content: space-between;
  display: inline-flex;
 
}

#div-3 {
  justify-content: center;
}

.title {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  color: #ffe6c6;
}

.tagline {
  padding-top: 20px;
  font-size: 18px;
  color: #ffe6c6;
  margin: 0 0 0 10px;
  /* added margin to the right */
}

.im {
  padding-top: 2px;
  position: absolute;
  padding-right: 10px;
  right: 0px;
}

.wrapper {
  display: inline-flex;
  margin-left: 650px;
  margin-top: 100px;  
}   

.wrapper .static-txt {
  font-size: 30px;
  margin-left: 50px;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #ffe6c6;
}

.wrapper .dynamic-txt {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 13px; 
  padding-left: 0px;
  margin-top: 2px; 
  height: 33px;   
  line-height: 30px;
  font-size: 30px;
  overflow: hidden;
}

.dynamic-txt li {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  list-style: none;


  font-weight: 400;

  color: #ff6000;

  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}

@keyframes slide {
  100% {
    top: -128px;
  }
}

.dynamic-txt li span {
  position: relative;
  height: 40px;

}

.dynamic-txt li span::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background: #454545;
  /* border-left: 2px solid #fc6d6d; */
  animation: typing 3s steps(10) infinite;

}

@keyframes typing {

  40%,
  60% {
    left: calc(100% + 30px);
  }

  100% {
    left: 0;
  }
}

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
  background-color: #ffa559;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  place-items: center;
  margin: 0 30px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav a {
  color: #080808;
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
  padding: 15px;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #ffe6c6;

}

nav a.active {
  background-color: #f44336;
}

@media screen and (max-width: 768px) {
  nav {
    height: auto;
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 10px 0;
  }
}


#sub-nav {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 200px;
  background-color: #f1f1f1;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

#sub-nav h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

#sub-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#sub-nav li {
  margin-bottom: 5px;
}

#sub-nav a {
  display: block;
  padding: 5px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 5px;
}

#sub-nav a:hover {
  background-color: #eee;
  border-color: #ccc;
}

/* buttons*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
/* body{  
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg,#e8effd 0%,#d6e3f5 100%);
} */
.btn {
  position: relative;
  display: inline-flex;
  height: 60px;
  width: 200px;
  border-radius: 5px;
  margin: 17px 20px;
  overflow: hidden;
  transition: all .4s;
  /* visibility: hidden; */
}

.btn .inner {
  position: absolute;
  width: 300%;
  height: 100%;
  left: -100%;
  z-index: -1;
  transition: all .4s;
}

.btn button {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  background: none;
  color: #000;
  font-size: 20px;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.btn:hover {
  transform: scale(1.03);
}

.btn:hover .inner {
  left: 0;
}

.btn1 .inner {
  background: -webkit-linear-gradient(right, #43cea2, #185a9d, #43cea2, #185a9d);

}

.btn2 .inner {
  background: -webkit-linear-gradient(right, #dad7d7, #de7946, #c9c4c4, #d16e3c);
}

.btn3 .inner {
  background: -webkit-linear-gradient(right, #f1c40e, #26a65b, #f1c40e, #26a65b);

}

.btn4 .inner {
  background: -webkit-linear-gradient(right, #43cea2, #185a9d, #43cea2, #185a9d);
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 650px;
  height: 550px;
  background-color: #ffe6c6;
  margin-left: 150px;
  margin-right: 150px;
 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
 
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card-text {
  
  padding: 20px;
}

.card-text h2 {
  font-size: 24px;
  color: black;
  margin-top: 5px;
}

.card-text p {
  color: black;
  font-size: 18px;
}

 

/* Footer */
footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  background-color: #333;
}

.footer-icons {
  display: flex;
  justify-content: flex-end;
}

.footer-icons a {
  margin-left: 10px;
  color: #fff;
  font-size: 20px;
}
    