<!DOCTYPE html>
<html>

<head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title> 
    <meta name="description" content=""> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/release/v5.8.1/css/all.css"> 
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dialog.css') }}">  
    {% block head %}      

    {% endblock %}       
    <style>
                /* Dropdown Content (Hidden by Default) */
                .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);  
                z-index: 1;
                margin-top: 13px;  
                }

                /* Links inside the dropdown */
                .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block; 
                }

                /* Change color of dropdown links on hover */
                .dropdown-content a:hover {background-color: #ddd;}

                /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
                .show {display:block;}  
    </style>
</head>
  
<body>
    <header>
        <a href="/" ><img width="255px" height="90px" src="../static/images/newlogo.png" alt=""></a>
		<h2 class="title">By Gym PT</h2>      
		<p class="tagline">Fit You, Happy You...</p>
        <img style="filter: invert(1);" height="90px" width="100px" class="im" src="../static/images/logo1.png"> 
	</header>        
 

    <nav>
        <ul>
            <li><a href="/" class="tb"><b>HOME</b></a></li>     
            <li>  
                <a href="#" onclick="dropdownExercise()"><b>EXERCISE</b></a>      
                <div id="myDropdown1" class="dropdown-content">     
                    <a href="/exercise/biceps-curl">Bicep-Curl</a> 
                    <a href="/exercise/push-ups">Push-Ups</a>       
                    <a href="/exercise/triceps">Triceps</a>     
                    <a href="/exercise/squats">Squats</a>  
                </div>           
            </li> 
            <li>
                <a href="#" onclick="dropdownYoga()"><b>YOGA</b></a>           
                <div id="myDropdown2" class="dropdown-content"> 
                    <a href="/yoga/t-pose">T Pose</a>       
                    <a href="/yoga/tree-pose">Tree Pose</a>     
                    <a href="/yoga/warrior-pose">Warrior Pose</a> 
                </div>
            </li>
            <li><a href ='/bmi'><b>BMI CALCULATOR</b></a></li>   
            <li><a href="/about"><b>ABOUT</b></a></li>        
        </ul>
    </nav>
    {% block content %}      

    {% endblock %}   
</body> 
    <script>
            function dropdownExercise() {        
            document.getElementById("myDropdown1").classList.toggle("show");
            } 
            function dropdownYoga() { 
            document.getElementById("myDropdown2").classList.toggle("show");
            } 
    </script>
        <script type="text/javascript">
            function closeVideo() { 
                var iframe = document.getElementById('video-iframe');
                iframe.parentNode.removeChild(iframe);  
            }    
            function openVideo(activity) {
                var div = document.getElementById('div-1'); 
                div.innerHTML = `         
                <iframe id="video-iframe" style="border:2px solid #fc6d6d;" src="/${activity}" width="640" height="480"></iframe> 
                `;  
            }  
        </script>      
<script src="../static/js/script.js" async defer></script>
</body>
</html>