{% extends 'base.html' %} 

{% block content %}  
<head>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/bmistyle.css">
  </head>
  <body>
    <h3><b>B</b>ody <b>M</b>ass <b>I</b>ndex Calculator</h3>
  <form class="form" id="form" onsubmit="return validateForm()">
  <div class="row-one">
    <input type="text" class="text-input" id="age" autocomplete="off" required/><p class="text">Age</p>
    <label class="container">
    <input type="radio" name="radio" id="f"><p class="text">Female</p>
      <span class="checkmark"></span>
    </label>
    <label class="container">
    <input type="radio" name="radio" id="m"><p class="text">Male</p>
      <span class="checkmark"></span>
    </label>
    </div>
  
  <div class="row-two">
    <input type="text" class="text-input" id="height" autocomplete="off" required><p class="text">Height (cm)</p>
    <input type="text" class="text-input" id="weight" autocomplete="off" required><p class="text">Weight (kg)</p>
  </div>
  <button type="button" id="submit">Submit</button>
  </form>
  </body>
  <script>
    var age = document.getElementById("age");
var height = document.getElementById("height");
var weight = document.getElementById("weight");
var male = document.getElementById("m");
var female = document.getElementById("f");
var form = document.getElementById("form");

function validateForm(){
  if(age.value=='' || height.value=='' || weight.value=='' || (male.checked==false && female.checked==false)){
    alert("All fields are required!");
    document.getElementById("submit").removeEventListener("click", countBmi);
  }else{
    countBmi();
  }
}
document.getElementById("submit").addEventListener("click", validateForm);

function countBmi(){
  var p = [age.value, height.value, weight.value];
  if(male.checked){
    p.push("male");
  }else if(female.checked){
    p.push("female");
  }
  form.reset();
  var bmi = Number(p[2])/(Number(p[1])/100*Number(p[1])/100);
      
  var result = '';
  if(bmi<18.5){
    result = 'Underweight';
     }else if(18.5<=bmi&&bmi<=24.9){
    result = 'Healthy';
     }else if(25<=bmi&&bmi<=29.9){
    result = 'Overweight';
     }else if(30<=bmi&&bmi<=34.9){
    result = 'Obese';
     }else if(35<=bmi){
    result = 'Extremely obese';
     }
  
  var h1 = document.createElement("h1");
  var h2 = document.createElement("h2");

  var t = document.createTextNode(result);
  var b = document.createTextNode('BMI: ');
  var r = document.createTextNode(parseFloat(bmi).toFixed(2));
  
  h1.appendChild(t);
  h1.style.color = "white"
  h2.appendChild(b);
  h2.style.color = "white"
  h2.appendChild(r);
  
  document.body.appendChild(h1);
  document.body.appendChild(h2);
  document.getElementById("submit").removeEventListener("click", countBmi);
  document.getElementById("submit").removeEventListener("click", validateForm);
}
document.getElementById("submit").addEventListener("click", countBmi);
  </script>
  {% endblock %} 