{% extends 'base.html' %}

{% block head %}      

{% endblock %}  


{% block content %} 
   

<div class="popup-overlay">     
  <div class="popup">       
    <div class="pophead">          
      <h2><b>INSTRUCTIONS:</b></h2>
    </div>   
    <p style="margin-top:40px; text-align: left; font-size: large; margin-left: 40px;"> 
      1. 	Start in a plank position with your hands slightly wider than shoulder-width apart.<br><br>
      2.	Lower your body towards the ground, keeping your core engaged and your elbows close to your sides.<br><br>
      3.	Push up through your hands and straighten your arms to return to the starting position.<br><br>
      4.	Keep your body in a straight line throughout the movement, avoiding arching your back or letting your hips sag.<br><br>
      5.	Repeat for your desired number of reps, or until failure.
      <br><br>  
    </p>         
    <button class="pop-btn1" id="popup-button1"><b>OK</b></button>  
    <button  class="pop-btn2" id="popup-button2"><b>CLOSE</b></button>    
  </div>       
</div> 
    
<!--  -->
 
<h1 style="text-align: center;"><b>PUSH-UPS</b></h1>     
<div style="justify-content: center; display: flex; margin-top: -30px;"> 
    <div id="div-1" class="div-1">        
        <!-- code  -->  
    </div>              
    <div id="div-2" class="div-2">               
        <img class="camera-0" width="550px" height="460px" src="../static/images/gifs/ezgif-2-18601905c3.gif" style="margin: 50px 50px 100px 50px;"  alt="">      
    </div>     
</div>       

  <div class="center" id="div-3" style="margin-left: 20rem;">
    <div class="btn btn2">
      <div class="inner"></div>    
      <button id="b1" onclick="openVideo('pushUps_feed')"><b>START</b> </button>  
    </div>    
  <div class="btn btn1"> 
    <div class="inner"></div>  
    <button id="b1" onclick="closeVideo()"><b>FINISH</b></button>
  </div> 
</div>


{% endblock %} 
