{% extends 'base.html' %}

{% block head %}      

{% endblock %}  


{% block content %} 
   

<div class="popup-overlay">     
  <div class="popup">       
    <div class="pophead">          
      <h2><b>INSTRUCTIONS:</b></h2>
    </div>   
    <p style="margin-top:40px; text-align: left; font-size: large; margin-left: 40px;"> 
      1. 	Stand with your feet shoulder-width apart, with your toes pointing forward or slightly outward.<br><br>  
      2.	Bend your knees and lower your hips down and back, as if sitting in a chair.<br><br>  
      3.	Keep your weight on your heels and your chest up, and avoid letting your knees cave inward.<br><br>  
      4.	Lower down until your thighs are parallel to the ground, or as low as you can comfortably go while maintaining good form.<br><br>  
      5.	Push through your heels to stand back up to the starting position.
      <br><br>  
    </p>         
    <button class="pop-btn1" id="popup-button1"><b>OK</b></button>  
    <button  class="pop-btn2" id="popup-button2"><b>CLOSE</b></button>    
  </div>       
</div>  
    
<!--  -->
 
<h1 style="text-align: center;"><b>SQUATS</b></h1>     
<div style="justify-content: center; display: flex; margin-top: -30px;">  
    <div id="div-1" class="div-1">        
        <!-- code  -->  
    </div>              
    <div id="div-2" class="div-2">               
        <img class="camera-0" width="500px" height="420px" src="../static/images/gifs/squat.gif" style="margin: 50px 50px 100px 50px;"  alt="">      
    </div>     
</div>       

  <div class="center" id="div-3" style="margin-left: 20rem;">
    <div class="btn btn2">
      <div class="inner"></div>     
      <button id="b1" onclick="openVideo('squats_feed')"><b>START</b> </button>  
    </div>     
  <div class="btn btn1">  
    <div class="inner"></div>   
    <button id="b1" onclick="closeVideo()"><b>FINISH</b></button>  
  </div>   
</div> 


{% endblock %} 
 