{% extends 'base.html' %}

{% block content %}

<h2 style="text-align: center;"></h1>
  <br>
  <br> 
<div class="wrapper">
    <div class="static-txt" >I'm a</div>
    <ul class="dynamic-txt" > 
      <li><span>Yoga Guru</span></li> 
      <li><span>Exercise Monitor</span></li>
      <li><span>Fitness Trainer</span></li>   
      <li><span>A complete Health and Fitness App... 
      </span></li>
      
    </ul>
</div>  
<footer>
  <div class="footer-icons">
    <a href="" target="_blank">     
      <img src="../static/images/github.png" alt="Twitter" class="img-fluid mx-3" width="40px" height="40px">
    </a> 
    <a href="#">
      <img src="../static/images/insta.png" alt="Instagram" class="img-fluid mx-3" width="38px" height="38px">
    </a>
    <a href="#"> 
      <img src="../static/images/twitter.png" alt="Facebook" class="img-fluid mx-3" width="44px" height="44dpx">
    </a>
  </div>
</footer>
   
{% endblock %} 