{% extends 'base.html' %}

{% block head %}      

{% endblock %}  


{% block content %} 
   

<div class="popup-overlay">     
  <div class="popup">       
    <div class="pophead">          
      <h2><b>INSTRUCTIONS:</b></h2>
    </div>   
    <p style="margin-top:40px; text-align: left; font-size: large; margin-left: 40px;"> 
      1. 	Begin in a standing position with your feet hip-distance apart and your arms by your sides.<br><br>  
      2.	Shift your weight onto your left foot and lift your right foot, placing the sole of your foot against your left thigh or calf.<br><br>  
      3.	Press your foot and thigh/calf together, engaging your standing leg and glutes for balance.<br><br>  
      4.	Bring your hands together at your heart center or reach them overhead, with your palms facing each other.<br><br>  
      5.	Hold the pose for several breaths, then release and repeat on the other side.
      <br><br>  
    </p>         
    <button class="pop-btn1" id="popup-button1"><b>OK</b></button>  
    <button  class="pop-btn2" id="popup-button2"><b>CLOSE</b></button>    
  </div>       
</div> 
    
<!--  --> 
 
<h1 style="text-align: center;"><b>T-POSE</b></h1>      
<div style="justify-content: center; display: flex; margin-top: -30px;"> 
    <div id="div-1" class="div-1">        
        <!-- code  -->  
    </div>               
    <div id="div-2" class="div-2" >               
        <img class="camera-0" width="550px" height="440px" src="{{url_for('static',filename='images/gifs/ezgif-2-506b0f073f.gif')}}" style="margin: 50px 50px 80px 50px;  -webkit-transform: scaleX(-1); transform: scaleX(-1);"  alt="">       
    </div>      
</div>        

  <div class="center" id="div-3" style="margin-left: 20rem;">    
    <div class="btn btn2">
      <div class="inner"></div>    
      <button id="b1" onclick="openVideo('treePose_feed')"><b>START</b> </button>   
    </div>    
  <div class="btn btn1"> 
    <div class="inner"></div>  
    <button id="b1" onclick="closeVideo()"><b>FINISH</b></button>
  </div> 
</div>


{% endblock %} 
