{% extends 'base.html' %}

{% block head %}      

{% endblock %}  


{% block content %} 
   

<div class="popup-overlay">     
  <div class="popup">       
    <div class="pophead">          
      <h2><b>INSTRUCTIONS:</b></h2>
    </div>   
    <p style="margin-top:40px; text-align: left; font-size: large; margin-left: 40px;"> 
      1. 	Stand at the top of your mat with your feet hip-width apart, and distribute your weight evenly between both feet.<br><br>
      2.	Engage your thigh muscles and lift your kneecaps up towards your hips.<br><br>
      3.	Draw your shoulder blades down and back, and lift your chest up.<br><br>
      4.	Relax your arms at your sides, with your palms facing forward.<br><br>
      5.	Breathe deeply and hold the pose for several breaths.
      <br><br>  
    </p>         
    <button class="pop-btn1" id="popup-button1"><b>OK</b></button>  
    <button  class="pop-btn2" id="popup-button2"><b>CLOSE</b></button>    
  </div>       
</div> 
    
<!--  --> 
 
<h1 style="text-align: center;"><b>T-POSE</b></h1>      
<div style="justify-content: center; display: flex; margin-top: -30px;"> 
    <div id="div-1" class="div-1">        
        <!-- code  -->  
    </div>               
    <div id="div-2" class="div-2">               
        <img class="camera-0" width="550px" height="440px" src="{{url_for('static',filename='images/gifs/tPose.png')}}" style="margin: 50px 50px 100px 50px;"  alt="">      
    </div>     
</div>        

  <div class="center" id="div-3" style="margin-left: 20rem;">
    <div class="btn btn2">
      <div class="inner"></div>    
      <button id="b1" onclick="openVideo('tPose_feed')"><b>START</b> </button>  
    </div>    
  <div class="btn btn1"> 
    <div class="inner"></div>  
    <button id="b1" onclick="closeVideo()"><b>FINISH</b></button>
  </div> 
</div>


{% endblock %} 
